transformers
pypdf
faiss-cpu
langchain
langchain-openai
langchain-community
torch
sentence-transformers
pandas
numpy
nltk
openai
python-dotenv
llama-index
pymupdf
huggingface_hub
datasets
IProgress